# --- Authentication ---
TG_BOT_TOKEN=
TG_CHAT_ID=
QQ_BOT_APP_ID=
QQ_BOT_APP_SECRET=
QQ_BOT_USER_OPENID=
QQ_BOT_USER_OPENID_FILE=./qq_bot_user_openid.json
LLM_API_KEY=sk-xxxxxx
CLOUD_API_SECRET=

# --- Network Ports ---
CHROMA_SERVER_PORT=2233
FASTAPI_SERVER_PORT=2234

# --- LLM Configuration ---
LLM_BASE_URL=https://chatapi.starlake.tech/v1
CHAT_MODEL_NAME=Qwen/Qwen3.5
